<div>You are on the homepage</div>

<h1>Hello, world!</h1>
<p>{{{title}}}</p>
<h1>testing big sexy</h1>

<div>
    <form>
        <label>Enter meal name</label>
        <input></input>
    </form>

    <form>
        <label>Enter ingredients</label>
        <input></input>
    </form>

    <form>
        <label>Enter directions</label>
        <input></input>
    </form>

    <form>
        <label>Enter user_id</label>
        <input>
        <button>Submit</button>
    </form>
</div>

<div>


</div>

{{!-- following the lessons in  14.1 below --}}

<ol class="post-list">
 {{!-- for each loop expects us to supply something called "posts" --}}
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{name}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        {{vote_count}} point(s) by {{user.email}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

{{!-- <ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol> --}}