<div>You are on the homepage</div>

<h1>Hello, world!</h1>
<p>{{{title}}}</p>
<h1>testing big sexy</h1>
<form class = "new-post-form"></form>
<div>
    
        <label for="name">Enter meal name</label>
        <input type = "text" name = "name"></input>
  </div>
    <div>
        <label for="ingredients">Enter ingredients</label>
        <input type = "text" name="ingredients"></input>
    </div>
<div>
        <label for="post_date">Date of Post</label>
        <input type = "text" name="post_date"></input>
    </div>

  <div>
        <label>Enter directions</label>
      <input type = "text" name="directions"></input>
      </div>  
    
        <button onclick = "newFormHandler(event)" type="submit">Submit Recipe

        </button>
        
    </form>
</div>

<div>


</div>

{{!-- following the lessons in  14.1 below --}}

<ol class="post-list">
 {{!-- for each loop expects us to supply something called "posts" --}}
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{name}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        {{vote_count}} point(s) by {{user.email}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

<script src = "/js/add-recipe.js"></script>
{{!-- <ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol> --}}